@font-face {
  font-family: "stf-v0n-braun";
  src: url(../../fonts/stf-v0n-braun.otf/stf-v0n-braun.otf) format(opentype);
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.a11yHidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: circle(0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

.calculator {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 480px;
  margin: 0;
  padding: 0;
  background-color: hsl(230, 25%, 13%);
  border-radius: 10px 10px 25px 25px;
  border: 1px solid black;
  box-shadow: 2px 2px 4px hsl(0, 0%, 10%);
}

/* 
.calculator::before {
  position: absolute;
  top: 44px;
  display: block;
  width: 295px;
  height: 5px;
  background-color: hsla(0, 0%, 100%, 1 );
  content: "";
} */

.brandName {
  margin: 0 auto 0 50px;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: "stf-v0n-braun", sans-serif;
}

.brandName > span {
  font-size: 16px;
}

.display {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin: 5px auto 10px;
  background-color: hsl(120, 2%, 57%);
  border-top: 8px solid hsl(230, 25%, 2%);
  border-right: 8px solid hsl(230, 25%, 10%);
  border-bottom: 20px solid hsl(230, 25%, 20%);
  border-left: 8px solid hsl(230, 25%, 8%);
  font-size: 30px;
  /* overflow: hidden; */
}

.display::before {
  content: "";
  position: absolute;
  width: 212px;
  height: 1px;
  display: block;
  bottom: 57px;
  background-color: hsla(0, 0%, 60%, 0.3);
}

.display::after {
  content: "";
  position: absolute;
  width: 212px;
  height: 1px;
  display: block;
  top: 70px;
  background-color: hsla(0, 0%, 60%, 0.3);
}

.displayValue {
  background-color: hsl(120, 5%, 75%);
  width: 175px;
  height: 35px;
  border-radius: 10px;
  box-shadow: inset 0 2px 2px black;
  text-align: end;
  line-height: 1.1;
  padding-right: 3px;
}

.keyboardLayout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  margin: 10px;
}

.operator {
  width: 50px;
  height: 50px;
  background-color: hsl(0, 18%, 15%);
  border: 1px outset hsla(0, 0%, 60%, 0.3);
  border-radius: 25px;
  color: gainsboro;
  font-size: 20px;
}

.operator:active {
  border: 1px outset hsla(0, 0%, 60%, 0.1);
}

.operator.result {
  background-color: hsl(32, 100%, 46%);
  border: 1px outset hsla(0, 0%, 100%, 0.6);
}

.operator.result:active {
  border: 1px outset hsla(0, 0%, 100%, 0.1);
}

.number {
  width: 50px;
  height: 50px;
  background-color: black;
  border: 1px outset hsla(0, 0%, 60%, 0.3);
  border-radius: 25px;
  color: gainsboro;
  font-size: 20px;
}

.number:active {
  border: 1px outset hsla(0, 0%, 60%, 0.1);
}

.footer {
  font-size: 12px;
  color: hsl(120, 2%, 57%);
}

.footer > p > a {
  color: black;
  text-decoration: none;
}

.footer > p > a:hover {
  text-decoration-line: underline;
}
